{% extends "base.html" %}
{% block content %}
<h2>Your Brackets</h2>
<ul class="list-group">
    {% for bracket in object_list %}
        <li id="bracketsList">
            <a href="{% url 'bracket-detail' bracket.id %}">{{ bracket.name }}</a>
            <small>Participants: {{ bracket.participants.count }}</small>
            <small>Created {{ bracket.created_at|date:"M d, Y" }}</small>
        </li>
    {% empty %}
        <h4>You haven't created any brackets yet.</h4>
    {% endfor %}
</ul>
<div style="text-align: center">
    <a class="btn" href="{% url 'bracket-create' %}">Create New Bracket</a>
</div>
{% endblock %}
