{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tournament Brackets</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<nav>
    <div class="nav-logo">
        <a href="/">Brackets</a>
    </div>
    <div class="nav-links">
        {% if user.is_authenticated %}
            Logged in as {{ user.username }}
            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" id="logoutBtn">
                    Logout
                </button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </div>
</nav>

<div>
    {% block content %}{% endblock %}
</div>
</body>
</html>
